In [9]:
import pandas as pd
import numpy as np
import fuzzywuzzy 
energy = pd.read_csv('Pettengill.csv', index_col=0)
energy.index = pd.to_datetime(energy.index, errors='ignore', utc=True)
energy.index[0]

Timestamp('2019-12-01 00:00:00+0000', tz='UTC')

In [6]:
1/4(sum(energy[energy['Day']>]['Quantity']))

                           Interval  Quantity
Day
2019-12-01 00:00:00+00:00       500      77.0
2019-12-01 00:00:00+00:00       515      76.0
2019-12-01 00:00:00+00:00       530      80.1
2019-12-01 00:00:00+00:00       545      74.0
2019-12-01 00:00:00+00:00       600      84.0
...                             ...       ...
2020-04-01 00:00:00+00:00       245     125.1
2020-04-01 00:00:00+00:00       300     127.0
2020-04-01 00:00:00+00:00       315     120.0
2020-04-01 00:00:00+00:00       330     120.0
2020-04-01 00:00:00+00:00       345     114.0

[11714 rows x 2 columns]